{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

    <table class="contact-links">
      <tr>

        {% if sidebar.email %}
        <td class="email icon-cell">
          <a href="mailto:{{ sidebar.email }}" aria-label="Email">
            <i class="fas fa-envelope"></i>
          </a>
        </td>
        {% endif %}

        {% if sidebar.linkedin %}
        <td class="linkedin icon-cell">
          <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" aria-label="LinkedIn" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </td>
        {% endif %}

        {% if sidebar.github %}
        <td class="github icon-cell">
          <a href="http://github.com/{{ sidebar.github }}" aria-label="GitHub" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </td>
        {% endif %}

        {% if sidebar.pdf %}
        <td class="pdf icon-cell">
          <a href="{{ sidebar.pdf }}" aria-label="R&eacute;sum&eacute;" target="_blank">
            <i class="fas fa-file-pdf"></i>
          </a>
        </td>
        {% endif %}

      </tr>
    </table>

  </div>

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include interests.html %}
  {% include language.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div>
